@import "tailwindcss";

:root {
  --background: #E4E4E4;
  --foreground: #C9C9C9;
  --custom-yellow: #FFCC00;
  --custom-red: #D2002E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-ubuntu-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #C9C9C9;
    --foreground: #E4E4E4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background-color: var(--custom-yellow);
}
